<h1>Alle teilnehmenden Mannschaften</h1>
<ul class="rectangles">
<% for team in @teams do %>
  <li>
    <strong><%= team.name %></strong>
    <%= team.group %>
    <%= link_to "ändern", edit_team_path(team) if admin? %>
<% end %>
</ul>
