<li>
  <em class="team"><%= match.team_1.name.short %></em>
  <em class="score"><%= "#{match.score}" %></em>
  <em class="team"><%= match.team_2.name.short %></em>
  <small class="date"><%= match.starts_at %></small>
</li>