<li class="date-over">
  <em class="round"><%= tip.match.round %></em>
  <em class="teams"><%= "#{truncate(tip.match.team_1.name, :length => 11, :omission => ".")} : #{truncate(tip.match.team_2.name, :length => 11, :omission => ".")}" %></em>
  <em class="score"><%= tip.score %></em>
  <small class="date"><%= tip.match.starts_at %></small>
</li>