<li class="date-over">
  <em class="round"><%= tip.match.round %></em>
  <em class="teams"><%= "#{tip.match.team_1.name} : #{tip.match.team_2.name}" %></em>
  <em class="score"><%= tip.score %></em>
  <small class="date"><%= tip.match.starts_at %></small>
</li>