<h1>Deine Tipps</h1>
<p>Alle Spiele und deine Tipps dazu</p>
<p>
  <%= link_to "Jetzt neue Ergebnisse tippen", edit_tips_path %>
</p>

<h2>Vorrunde</h2>
<ul class="preliminary">
<%= render :partial => 'print_match_list', :locals => { :matches => @preliminaries.group_by{ |p| p.team_1.group }.sort_by{ |group, matches| group }, :level => 3 } %>
</ul>
<ul class="final">
<%= render :partial => 'print_match_list', :locals => { :matches => @finals.group_by{ |f| f.round }.sort_by{ |round, matches| matches.length }, :level => 2 } %>
</ul>